@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header {

  align-items: center;
  background: #878787;

    position:fixed;
       top:0;
       left:0;

  width: 100%
  
}

.imp {
  color: white;
    text-decoration: none;
    font-size: 90;
      	font-family: "Poppins";
	font-weight: 600;


}
h1 {
  text-decoration: none;
  color: white;
  
}

.sus {
  color: white;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
}
.navbar {

      position:top;
       top:0;
       left:0;
}
body {
  background-color: black;
  background-image: url('back.gif');
}
.selector
{
  position: fixed;
  z-index:99;
  top: -30;
  left: 0;
  width: 100%;
}

.form input {
  
    width: calc(100% - 164px);
    height: 50px;
    left: 0;
    color: #FFF;
    padding: 0px 5px;
    font-family: "Roboto";
    background: none;
    font-size: 14px;
    border-radius: 2px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255, .2);
}

.button {
  	color: white;
	font-family: "Poppins";
	font-weight: 600;
  border: none;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 0px 0px;
  cursor: pointer;
  
}

.gobutton {
  	color: white;
	font-family: "Poppins";
	font-weight: 600;
  border: solid 1px rgb(255, 255, 255, .2);
  background-color: transparent;
  padding: 2.6px 10px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 0px 0px;
  cursor: pointer;
  
}

html {
  font-family: arial;
  font-size: 100%;
  color: #CCC;
}

* {
  box-sizing: border-box;
}

.fotogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1em;
}

.tile {
  position: relative;
  width: 100%;
  border: 1px solid black;
  display: grid; /* an inner grid */
}

.tile a {
  grid-row: 1; /* place in first row */
  grid-column: 1;  /* place in first column */
}

.tile img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.tile h4 {
  margin: 0;
  background-color: #000;
  padding: 10px 14px;
  opacity: .8;
  grid-row: 1; /* place in first row */
  grid-column: 1;  /* place in first column */
  align-self: flex-start; /* take auto-width */
}

.tile:hover {
  border: 1px solid #0066FF;
  opacity: .55;
}